*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #ededed;
}
.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh; 
}

.calculator h1 {
    margin-bottom: 20px;
}

.calculator_display {
   display: flex;
   justify-content: end;
   align-items: end;
   width: 310px;
   border-bottom: 2px solid #FFFFFF;
   height: 80px;
   padding: 5px;
   font-size: 30px;
   background-color: #000000;
   color: #FFFFFF;
   border-radius: 5px;
   box-shadow: 0 0 2px 2px #F7502D;
   
}

.calculator_keys {
   background-color: #000000;
   justify-content: center ;
   align-items: center;
  
   width: 310px;
   border-radius: 5px;
   box-shadow: 0 0 2px 2px #F7502D;
}

button {
    background-color: #000000;
    color: #FFFFFF;
    width: 85%;
    height: 60px;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    border-radius: 4px;
}

button:hover{
    background-color: #FA1701;
    color: #FFFFFF;
}

.orange {
    color: #F7502D;
}

#limpar {
    font-size: 15px;
}